body {
    font-family: system-ui;
    line-height: 1.5;
    min-height: 100vh;
    background: #616060;
    margin: 0;
}

img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 60px #ffffff;
    width: 100%;
    max-width: 1540px;
    z-index: -1; /* Відправляємо фон назад, щоб кнопки залишалися зверху */
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 300px; /* Встановлюємо фіксований відступ від верху */
    position: relative; /* Позиціонуємо кнопки відносно тіла сторінки */
    z-index: 1; /* Залишаємо кнопки на передньому плані */
}

button {
    background: #1e1d1d;
    border: 1.5px solid #e0dddd;
    border-radius: 7px;
    cursor: pointer;
    padding: 8px;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    width: 275px;
    box-shadow: 0 0 35px #000000;
    transition: border-color 0.3s;
}

button:hover {
    border-color: #545454;
}

section {
    margin-top: 20px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#content {
    text-align: left; /* Вирівнювання тексту по лівому краю */
    padding: 20px; /* Додає відступи для зручного читання */
    line-height: 1.5; /* Міжрядковий інтервал для поліпшення читабельності */
}

#content h2 {
text-align: center; /* Вирівнювання заголовка по центру */
}


